*sklearn*
*sqlite
*gz
*json
neg.txt
pos.txt
IDS/both_chars_3.png
IDS/improved_chart_1.png
IDS/improved_chart_2.png
IDS/junk_chart_1.png
IDS/junk_chart_2.png
IDS/junk_chart_3.png
IDS/junk_charts_tvuontis_10_09_2025.aux
IDS/junk_charts_tvuontis_10_09_2025.fdb_latexmk
IDS/junk_charts_tvuontis_10_09_2025.fls
IDS/junk_charts_tvuontis_10_09_2025.log
IDS/junk_charts_tvuontis_10_09_2025.out
IDS/junk_charts_tvuontis_10_09_2025.tex
IDS/titanic/gender_submission.csv
IDS/titanic/test.csv
IDS/titanic/train.csv
ACA/pyNMBC.ipynb
