*sklearn*
*env*
*sqlite
*gz
*json
neg.txt
pos.txt
IDS/both_chars_3.png
IDS/improved_chart_1.png
IDS/improved_chart_2.png
IDS/junk_chart_1.png
IDS/junk_chart_2.png
IDS/junk_chart_3.png
IDS/junk_charts_tvuontis_10_09_2025.aux
IDS/junk_charts_tvuontis_10_09_2025.fdb_latexmk
IDS/junk_charts_tvuontis_10_09_2025.fls
IDS/junk_charts_tvuontis_10_09_2025.log
IDS/junk_charts_tvuontis_10_09_2025.out
IDS/junk_charts_tvuontis_10_09_2025.tex
IDS/titanic/gender_submission.csv
IDS/titanic/test.csv
IDS/titanic/train.csv
ACA/pyNMBC.ipynb
*HAS*
HAS*
*cities*
*titanic*
*world_m*
*junk*
*bst
*aux
*bbl
*blg
*log
*nlo
*out
*toc
!DSSK/report_tvuontis/tvuontis_dssk_report_vmbc.pdf
!DSSK/report_tvuontis/tvuontis_dssk_report_vmbc.tex
!DSSK/report_tvuontis/plots.png
!DSSK/report_tvuontis/plotting.ipynb
Stats/week2_bootstrap_template.py
Stats/week2_heart_disease_data.csv
Stats/week3_exercise5.txt
DSSK/report_tvuontis/babelbst.tex
DSSK/report_tvuontis/englbst.tex
DSSK/report_tvuontis/UH_DS_references.bib
DSSK/report_tvuontis/UH_DS_report.cls
DSSK/report_tvuontis/UH-logo-ml.png
IDS/charts/both_chars_3.png
IDS/charts/improved_chart_1.png
IDS/charts/improved_chart_2.png
Stats/passengercarmileage.txt
Stats/radon.txt
